<%= content_tag :p, class: (appearance.accompaniment? ? "muted" : nil) do %>
    <%= content_tag :strong,
          link_to(appearance.participant.full_name, "#participant#{appearance.participant.id}Modal",
          role: "button", "data-toggle" => "modal") %>,
    <%= appearance.instrument.name %>
    <%= info_badge_tag(appearance.age_group, :info) %> (* <%= l appearance.participant.birthdate %>)

    <div id="participant<%= appearance.participant.id %>Modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="participant<%= appearance.participant.id %>ModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="participant<%= appearance.participant.id %>ModalLabel">
          <%= appearance.participant.full_name %>
        </h3>
      </div>
      <div class="modal-body">
        <p>
          * <%= l appearance.participant.birthdate %>
          <%= gender_symbol(appearance.participant.gender) %>
        </p>
        <p>
          <% unless appearance.participant.street.blank? %>
            <%= appearance.participant.street %><br />
          <% end %>
          <% unless appearance.participant.city.blank? %>
            <%= appearance.participant.postal_code %>
            <%= appearance.participant.city %>
            <br />
          <% end %>
          <%= flag_tag(appearance.participant.country.country_code) %>
        </p>
        <p>Telefon: <%= appearance.participant.phone %></p>
        <p><%= mail_to appearance.participant.email %></p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  <% end %>
