<% provide(:title, "Ergebnisse verwalten") %>

<%= render 'jmd/performances/filter_form', path: jmd_competition_appearances_path(@competition) %>

<p>
  <%= page_entries_info @performances, model: Performance %>
  <%= info_label_tag("Filter aktiv", :warning) if filter_active? %>
</p>

<%= will_paginate @performances %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Kategorie</th>
      <th>Teilnehmer</th>
      <th>AG</th>
      <th>Punkte</th>
      <th>Preis</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody id="appearance-rows">
    <% @performances.each do |performance| %>
      <% appearances = performance.appearances.role_order %>
      <% appearances.each do |appearance| %>
      <tr>
        <% if appearance == appearances.first %>
        <td rowspan="<%= performance.appearances.length %>"><%= performance.category.name %></td>
        <% end %>
        <td>
          <%= content_tag :span, class: (appearance.accompaniment?) ? "muted" : nil do %>
            <%= appearance.participant.full_name %>, <%= appearance.instrument.name %>
          <% end %>
        </td>
        <td><%= age_group_badge_tag(appearance) %></td>
        <td><%= info_badge_tag(appearance.points.to_s, :important) if appearance.points %></td>
        <td>
          <%= appearance.prize %>
          <%= info_label_tag("WL", :success) if appearance.advances_to_next_round? %>
        </td>
        <td><%= link_to_modal icon_tag("edit", title: "Punkte bearbeiten"), "appearance", appearance.id %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= will_paginate @performances %>

<!-- Modals (invisible by default) -->
<% @performances.each do |performance| %>
  <% performance.appearances.each do |appearance| %>
    <%= render layout: "modal", locals: { item_type: "appearance", item_id: appearance.id, title: "#{appearance.participant.full_name}, #{appearance.instrument.name}" } do %>
      <%= simple_form_for([:jmd, @competition, appearance], html: { class: "form-horizontal" }) do |form| %>
        <div class="modal-body">
          <%= form.input :points, input_html: { class: "span1" } %>
        </div>
        <div class="modal-footer">
          <%= form.button :submit, "Punkte speichern", class: "btn-primary" %>
          <%= link_to_close_modal "Abbrechen", class: "btn" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
