<h2>Anmeldung bearbeiten</h2>

<%= render 'noscript' %>

<%= form_for @entry do |form| %>
  <%= render :partial => 'entry_fields', :locals => { :f => form } %>
  <div class="actions">
    <%= form.submit "Änderungen speichern" %> oder zurück zur <%= link_to "Startseite", root_path %>
  </div>
<% end %>

<%= javascript_tag do %>
  $(document).ready(function() {
    renumber();
  });
<% end %>
