<p>
  * <%= l participant.birthdate %>
  <%= gender_symbol(participant.gender) %>
</p>
<p>
  <% unless participant.street.blank? %>
  <%= participant.street %><br />
  <% end %>
  <% unless participant.city.blank? %>
  <%= participant.postal_code %>
  <%= participant.city %>
  <br />
  <% end %>
  <%= flag_tag(participant.country.country_code) %>
</p>
<p>Telefon: <%= participant.phone %></p>
<p><%= mail_to participant.email %></p>
