<p style="text-align: right;">
  <strong><%= piece.composer.name %></strong>
  <% unless piece.composer.born.blank? %>
    (<%= piece.composer.born %>&ndash;<%= piece.composer.died %>)
  <% end %>
  <br />
  <%= piece.title %>
  <br />
  <span class="quiet">Epoche:</span>
  <%= piece.epoch.slug %><span class="quiet">, Dauer: </span><%= format_duration(piece.duration) %>
</p>