<p class="muted">Stand: <%= l Time.now.in_time_zone(contest.host.time_zone), format: :short %></p>

<div class="timetable-controls">
  <%=
    if (params[:bare] != "yes")
      link_to icon_tag("print") + " Druckversion", params.merge(bare: :yes), class: "btn pull-right"
    else
      link_to icon_tag("resize-small"), params.merge(bare: nil), class: "btn pull-right"
    end
  %>

  <p>
    <% contest.used_venues.each do |venue| %>
      <%= link_to venue.name,
        params.merge(venue_id: venue.id),
        class: "btn" %>
    <% end %>
  </p>

  <p>
    <% contest.days.each do |contest_day| %>
      <%= link_to l(contest_day, format: :full),
        params.merge(date: contest_day.to_s),
        class: "btn" %>
    <% end %>
  </p>
</div>

<h3><%= l date, format: :full %></h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Zeit</th>
      <th width="30%">Kategorie</th>
      <th>AG</th>
      <th>Teilnehmer</th>
      <% if contest.round > 1 %>
      <th>Schule</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% performances.each_with_index do |performance, index| %>
      <!-- Insert break if distance to previous participant is large enough -->
      <% if performance.stage_time - performances[index-1].rounded_end_time > 5.minutes %>
        <tr>
          <td colspan="5"><strong>Pause</strong></td>
        </tr>
      <% end %>

      <!-- Insert performance row -->
      <tr class="performance-row" data-stage-time="<%= performance.stage_time.to_i %>">
        <td><%= l performance.stage_time_in_tz, format: :time %></td>
        <td><%= performance.category.name %></td>
        <td><%= info_badge_tag(performance.age_group, :info) %></td>
        <td>
          <% Appearance.sort_by_role!(performance.appearances).each do |appearance| %>
            <span class="<%= "muted" if appearance.accompaniment? %>">
              <%= appearance.participant.full_name %>,
              <%= appearance.instrument.name %>
              <%= age_group_badge_tag(appearance) if appearance.age_group != performance.age_group %>
            </span>
            <br />
          <% end %>
        </td>
        <% if contest.round > 1 %>
        <td>
          <%= performance.associated_host.name %>
          <%= flag_tag(performance.associated_country_code) %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
