<% provide(:title, "Anmeldung zum Wettbewerb #{JUMU_YEAR}") %>

<% general_signup_deadline = Date.new(2018,12,15) %>

<p>Hier kannst du dein Vorspiel für "Jugend musiziert" <%= JUMU_YEAR %> anmelden. Wir freuen uns auf dich!
<br />
Anmeldeschluss ist, sofern nicht anders angegeben, der <strong><%= l general_signup_deadline, format: :long %></strong>.</p>

<hr />

<% if @contests.empty? %>
  <p class="alert alert-info">Leider stehen momentan keine Wettbewerbe zur Anmeldung offen.</p>
<% else %>
  <p>Wähle deinen Regionalwettbewerb:</p>
  <% @contests.each do |contest| %>
    <p>
    <%= flag_tag(contest.host.country_code) %>
    <%= link_to contest.name, new_contest_performance_path(contest) %></li>
    <% if contest.signup_deadline != general_signup_deadline %>
      (Anmeldeschluss: <%= l contest.signup_deadline, format: :long %>)
    <% end %>
    </p>
  <% end %>
<% end %>
