<p class="muted">Stand: <%= l Time.now.in_time_zone(@lw_competition.host.time_zone), format: :short %></p>

<div class="well timetable-controls">
  <% @lw_competition.days.each do |competition_day| %>
    <%= link_to l(competition_day, format: :full),
                params.merge(year: competition_day.year, month: competition_day.month, day: competition_day.mday),
                class: "btn" %>
  <% end %>

  <%=
    if (params[:bare] != "yes")
      link_to icon_tag("resize-full"), params.merge(bare: :yes), class: "btn pull-right"
    else
      link_to icon_tag("resize-small"), params.merge(bare: nil), class: "btn pull-right"
    end
  %>
</div>

<h3><%= l @date, format: :full %></h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Zeit</th>
      <th width="30%">Kategorie</th>
      <th>AG</th>
      <th>Teilnehmer</th>
      <th>Schule</th>
    </tr>
  </thead>
  <tbody>
    <% @performances.each_with_index do |performance, index| %>
      <!-- Insert break if distance to previous participant is large enough -->
      <% if performance.stage_time - @performances[index-1].rounded_end_time > 5.minutes %>
        <tr>
          <td colspan="5"><strong>Pause</strong></td>
        </tr>
      <% end %>

      <!-- Insert performance row -->
      <tr class="performance-row" data-stage-time="<%= performance.stage_time.to_i %>">
        <td><%= l performance.stage_time, format: :time %></td>
        <td><%= performance.category.name %></td>
        <td><%= info_badge_tag(performance.age_group, :info) %></td>
        <td>
          <% performance.appearances.role_order.each do |appearance| %>
            <span class="<%= "muted" if appearance.accompaniment? %>">
              <%= appearance.participant.full_name %>,
              <%= appearance.instrument.name %>
              <%= age_group_badge_tag(appearance) if appearance.age_group != performance.age_group %>
            </span>
            <br />
          <% end %>
        </td>
        <td>
          <%= performance.associated_host.name %>
          <%= flag_tag(performance.associated_country.try(:country_code)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
