<h2>Juroren verwalten</h2>

<p>
  <%= icon_tag("add") %> <%= link_to "Neuen Juror hinzufügen", new_jmd_judge_path %>
</p>

<table id="judge-table" border="0" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th class="span-3">Vorname</th>
      <th class="span-3">Nachname</th>
      <th class="span-3">Stadt</th>
      <th class="span-1">Land</th>
      <th class="span-3">Erstellt</th>
      <th class="span-3 last">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @judges.each do |judge| %>
    <tr>
      <td><%= judge.first_name %></td>
      <td><%= judge.last_name %></td>
      <td><%= judge.city %></td>
      <td><%= judge.country.slug %></td>
      <td><%= l judge.created_at, :format => :short %></td>
      <td style="text-align: right">
        <%= link_to icon_tag("information", :title => "Details zum Juror anzeigen"), jmd_judge_path(judge) %>
        <%= link_to icon_tag("pencil", :title => "Diesen Juror bearbeiten"), edit_jmd_judge_path(judge) %>
        <%= link_to icon_tag("delete", :title => "Diesen Juror aus Liste entfernen"), jmd_judge_path(judge), :method => :delete, :confirm => "Soll #{judge.full_name} wirklich aus der Liste der Juroren entfernt werden?" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>