<p>
	<%= icon_tag "arrow_turn_left" %>
	<%= link_to "zurück zur Jurorenliste", jmd_judges_path %>
</p>

<h2>Jurorendetails</h2>


<dl>
  <dt>Name</dt>
    <dd><%= @judge.inverse_full_name %></dd>
  <dt>Stadt</dt>
    <dd><%= @judge.city %></dd>
  <dt>Land</dt>
    <dd><%= @judge.country.name %></dd>
  <dt>Wettbewerbe</dt>
    <dd>
      <% @judge.competitions.each do |c| %>
        <%= c.name %><br />
      <% end %>
    </dd>
</dl>
