<% provide(:title, "Vorspiel bearbeiten") %>

<%= render 'noscript' %>

<%= simple_form_for([:jmd, @performance], html: { class: "form-horizontal" }) do |form| %>
  <%= render 'performance_fields', { f: form, allow_competition_selection: true, show_hints: false } %>
  <div class="form-actions">
    <%= form.button :submit, "Änderungen speichern", class: "btn-primary" %>
    <%= link_to "Abbrechen", jmd_competition_performances_path(@performance.competition), class: "btn" %>
  </div>
<% end %>
