<% provide(:title, "Wertungen verwalten") %>

<%# render 'filter_form', :path => jmd_performances_path %>

<p>
  <%= @performances.length %> von <%= Performance.current.visible_to(current_user).count %> Wertungen
  &middot;
  <%= link_to "Alle anzeigen", jmd_performances_path %>
</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%# sortable "stage_time", "Vorspiel" %>Vorspiel</th>
      <th>
        <%# sortable "categories.popular, categories.solo desc, categories.name", "Kategorie" %>Kategorie
      </th>
      <th>Teilnehmer</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @performances.each do |performance| %>
    <tr>
      <td><%= l performance.stage_time, format: :tiny if performance.stage_time %></td>
      <td><%= performance.category.name %></td>
      <td>
        <% performance.appearances.role_order.each do |appearance| %>
          <%= appearance.participant.full_name %>,
          <%= appearance.instrument.name %>
          (AG&nbsp;<%= appearance.age_group %>)
        <% end %>
      </td>
      <td>
        <%= link_to icon_tag("eye-open"), jmd_performance_path(performance) %>
        <%= link_to icon_tag("edit"), edit_jmd_performance_path(performance) %>
        <%= link_to icon_tag("remove"),  jmd_performance_path(performance),
              method: :delete, confirm: "Soll die Wertung wirklich gelöscht werden?" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
