<% provide(:title, "Vorspiele verwalten") %>

<%= link_to "Neues Vorspiel erstellen", new_jmd_performance_path, class: "btn" %>

<%# render 'filter_form', :path => jmd_performances_path %>

<p>
  <%= @performances.length %> Vorspiele
  <%# link_to "Alle anzeigen", jmd_performances_path, class: "btn btn-mini" %>
</p>

<table class="table table-hover">
  <thead>
    <tr>
      <!-- <th><%# sortable "stage_time", "Vorspiel" %>Vorspiel</th> -->
      <th>Angemeldet am</th>
      <th>
        <%# sortable "categories.popular, categories.solo desc, categories.name", "Kategorie" %>Kategorie
      </th>
      <th>Teilnehmer</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @performances.each do |performance| %>
    <tr>
      <!-- <td><%# l performance.stage_time, format: :tiny if performance.stage_time %></td> -->
      <td>
        <%= l performance.created_at, format: :short %>
        <% if (performance.updated_at - performance.created_at) > 1.second %>
          <br /><%= info_label_tag("Editiert #{time_ago_in_words(performance.updated_at)}", :info)  %>
        <% end %>
      </td>
      <td><%= performance.category.name %></td>
      <td>
        <% performance.appearances.role_order.each do |appearance| %>
          <span class="<%= "muted" if appearance.accompaniment? %>">
            <%= appearance.participant.full_name %>,
            <%= appearance.instrument.name %>
            <%= info_badge_tag(appearance.age_group, :info) %>
          </span>
          <br />
        <% end %>
      </td>
      <td>
        <%= link_to icon_tag("eye-open", title: "Vorspieldetails anzeigen"),
              jmd_performance_path(performance) %>
        <%= link_to icon_tag("edit", title: "Dieses Vorspiel bearbeiten"),
              edit_jmd_performance_path(performance) %>
        <%= link_to icon_tag("remove", title: "Dieses Vorspiel löschen"),
              jmd_performance_path(performance),
              method: :delete, confirm: "Soll das Vorspiel wirklich gelöscht werden?" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
