<% provide(:title, "Urkunden erstellen") %>

<%= render 'filter_form', path: make_certificates_jmd_performances_path %>

<p>
  <%= page_entries_info @performances, model: Performance %>
  <%= info_label_tag("Filter aktiv", :warning) if filter_active? %>
</p>

<p>
  <%= link_to "Urkunden ausgeben", params.merge(format: :pdf),
        class: "btn btn-primary" unless @performances.empty? %></p>

<%= will_paginate @performances %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Kategorie</th>
      <th>Teilnehmer</th>
      <th>AG</th>
      <th>Punkte</th>
      <th>Preis</th>
    </tr>
  </thead>
  <tbody id="appearance-rows">
    <% @performances.each do |performance| %>
      <% appearances = performance.appearances.role_order %>
      <% appearances.each do |appearance| %>
      <tr>
        <% if appearance == appearances.first %>
        <td rowspan="<%= performance.appearances.length %>"><%= performance.category.name %></td>
        <% end %>
        <td>
          <%= content_tag :span, class: (appearance.accompaniment?) ? "muted" : nil do %>
            <%= appearance.participant.full_name %>, <%= appearance.instrument.name %>
          <% end %>
        </td>
        <td><%= age_group_badge_tag(appearance) %></td>
        <td><%= info_badge_tag(appearance.points.to_s, :important) if appearance.points %></td>
        <td>
          <%= appearance.prize %>
          <%= info_label_tag("WL", :success) if appearance.advances_to_next_round? %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= will_paginate @performances %>
