<% provide(:title, "Jurybögen erstellen") %>

<%= render 'filter_form', path: make_jury_sheets_jmd_contest_performances_path(@contest) %>

<p>
  <%= page_entries_info @performances, model: Performance %>
  <%= info_label_tag("Filter aktiv", :warning) if filter_active? %>
</p>

<p>
  <%= link_to "Jurybögen ausgeben", params.merge(format: :pdf),
              class: "btn btn-primary" unless @performances.empty? %>
</p>

<%= will_paginate @performances %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Zeit</th>
      <th width="30%">Kategorie</th>
      <th>Teilnehmer</th>
      <th>AG</th>
    </tr>
  </thead>
  <tbody id="appearance-rows">
    <% @performances.each do |performance| %>
      <% appearances = performance.appearances.role_order %>
      <% appearances.each do |appearance| %>
      <tr>
        <% if appearance == appearances.first %>
        <td rowspan="<%= performance.appearances.length %>">
          <%= l performance.stage_time_in_tz, format: :short if performance.stage_time_in_tz %>
        </td>
        <td rowspan="<%= performance.appearances.length %>"><%= performance.category.name %></td>
        <% end %>
        <td>
          <%= content_tag :span, class: (appearance.accompaniment?) ? "muted" : nil do %>
            <%= appearance.participant.full_name %>, <%= appearance.instrument.name %>
          <% end %>
        </td>
        <td><%= age_group_badge_tag(appearance) %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= will_paginate @performances %>
