<% provide(:title, "Ergebnislisten erstellen") %>

<%= form_tag make_result_sheets_jmd_contest_performances_path(@contest),
             method: :get, class: "filter-form form-search well" do %>

  <%= select nil, :contest_category_id, @contest.contest_categories.collect { |c| [c.category.name, c.id] },
      { selected: params[:contest_category_id], include_blank: "Kategorie" } %>

  <%= select nil, :age_group, JUMU_AGE_GROUPS,
      { selected: params[:age_group], include_blank: "Altersgruppe" }, class: "span2" %>

  <%= submit_tag "Filtern", class: "btn btn-warning" %>
<% end %>

<p>
  <% size = @performances.size %>
  <strong><%= size %></strong> <%= t('activerecord.models.performance', count: size) %>
  <%= info_label_tag("Filter aktiv", :warning) %>
</p>

<p>
  <%= link_to "Ergebnisliste ausgeben", params.merge(format: :pdf),
              class: "btn btn-primary" unless @performances.empty? %>
</p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th width="30%">Kategorie</th>
      <th>Teilnehmer</th>
      <th>AG</th>
      <th>Punkte</th>
      <th>Preis</th>
    </tr>
  </thead>
  <tbody id="appearance-rows">
    <% @performances.each do |performance| %>
      <% appearances = performance.appearances.role_order %>
      <% appearances.each do |appearance| %>
      <tr>
        <% if appearance == appearances.first %>
        <td rowspan="<%= performance.appearances.length %>"><%= performance.contest_category.name %></td>
        <% end %>
        <td>
          <%= content_tag :span, class: (appearance.accompaniment?) ? "muted" : nil do %>
            <%= appearance.participant.full_name %>, <%= appearance.instrument.name %>
          <% end %>
        </td>
        <td><%= age_group_badge_tag(appearance) %></td>
        <td><%= info_badge_tag(appearance.points.to_s, :important) if appearance.points %></td>
        <td>
          <%= appearance.prize %>
          <%= info_label_tag("WL", :success) if appearance.advances_to_next_round? %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
