<% provide(:title, "Vorspieldetails") %>

<p>
  <%= flag_tag @performance.contest.host.country_code %>
  <%= link_to @performance.contest.name, jmd_contest_path(@performance.contest) %>
  <br />
  <strong>
    <%= @performance.category.name %>
    <br />
    <%= l @performance.stage_time if @performance.stage_time %>
  </strong>
</p>

<p>
  Änderungscode: <code><%= @performance.tracing_code %></code>
  <br />
  Angemeldet: <%= l @performance.created_at, format: :medium %>

  <% if (@performance.updated_at - @performance.created_at) > 1.second %>
    <br />
    Zuletzt geändert: <%= l @performance.updated_at, format: :medium %>
  <% end %>
</p>

<hr />

<h3>Teilnehmer</h3>

<%= render @performance.appearances.role_order %>

<h3>Vorspielprogramm</h3>

<% @performance.pieces.each do |piece| %>
  <%= content_tag :p do %>
    <%= content_tag :strong, piece.composer_name %>
    <% unless piece.composer_born.blank? %>
      (<%= piece.composer_born %>&ndash;<%= piece.composer_died %>)
    <% end %>
    <br />
    <%= piece.title %>
    <br />
    <%= format_duration(piece.duration) %>, Epoche <%= info_badge_tag(piece.epoch) %>
  <% end %>
<% end %>

<p><i>Gesamtdauer: <%= format_duration(@performance.duration) %></i></p>

<p>
  <%= if can? :update, @performance
    link_to "Vorspiel bearbeiten", edit_jmd_performance_path(@performance), class: "btn"
    end %>
  <%= if can? :read, @contest
    link_to "Alle Vorspiele des Wettbewerbs", jmd_contest_performances_path(@performance.contest), class: "btn"
    end %>
</p>
