<% provide(:title, "Vorspieldetails") %>

<%= flag_tag @performance.competition.host.country.country_code %>
<%= @performance.competition.name %>
<br />
<%= @performance.category.name %>
<br />
Änderungscode: <code><%= @performance.tracing_code %></code>

<h3>Teilnehmer</h3>

<%= render @performance.appearances.role_order %>

<h3>Vorspielprogramm</h3>

<% @performance.pieces.each do |piece| %>
  <%= content_tag :p do %>
    <%= content_tag :strong, piece.composer.name %>
    <% unless piece.composer.born.blank? %>
      (<%= piece.composer.born %>&ndash;<%= piece.composer.died %>)
    <% end %>
    <br />
    <%= piece.title %>
    <br />
    <%= format_duration(piece.duration) %>, Epoche <%= info_badge_tag(piece.epoch.slug) %>
  <% end %>
  <p><i>Gesamtdauer: <%= format_duration(@performance.duration) %></i></p>
<% end %>

<%= link_to "Vorspiel bearbeiten", edit_jmd_performance_path(@performance), class: "btn" %>
<%= link_to "Zurück zur Vorspielliste", jmd_performances_path, class: "btn" %>
