<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :slug %>
  <%= f.text_field :slug, :class => "text" %>
</div>
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name, :class => "text" %>
</div>
<div class="field">
  <%= f.label :address %>
  <%= f.text_field :address, :class => "text" %>
</div>
<div class="field">
  <%= f.label :usage %>
  <%= f.text_field :usage, :class => "text" %>
</div>
<div class="field">
  <%= f.label :host_id %>
  <%= collection_select(:venue, :host_id, Host.all, :id, :name) %>
</div>