<h2>Räume verwalten</h2>

<p><%= icon_tag("add") %> <%= link_to "Neuen Raum hinzufügen", new_jmd_venue_path %></p>

<table border="0" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th class="span-1"><%= sortable "slug", "Code" %></th>
      <th class="span-3"><%= sortable "name", "Bezeichnung" %></th>
      <th class="span-6"><%= sortable "address", "Anschrift" %></th>
      <th class="span-3"><%= sortable "hosts.name", "Schule" %></th>
      <th class="span-3 last">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @venues.each do |venue| %>
    <tr>
      <td><%= venue.slug %></td>
      <td><%= venue.name %></td>
      <td><%= venue.address %></td>
      <td><%= venue.host.name if venue.host %></td>
      <td style="text-align: right">
        <%= link_to icon_tag("information", :title => "Raumdetails anzeigen"), jmd_venue_path(venue) %>
        <%= link_to icon_tag("pencil", :title => "Diesen Raum bearbeiten"), edit_jmd_venue_path(venue) %>
        <%= link_to icon_tag("delete", :title => "Diesen Raum löschen"), jmd_venue_path(venue),
            :method => :delete, :confirm => "Soll der Raum wirklich gelöscht werden?" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>