<p class="alert alert-info">Für den <strong>Landeswettbewerb in Moskau</strong> braucht <strong>keine</strong> erneute Anmeldung ausgefüllt werden! Alle weitergeleiteten Teilnehmer erhalten Ende Januar eine E-Mail mit weiteren Informationen.</p>

<div class="hero-unit">
  <div class="row">
    <div class="span2">
      <%= image_tag "jumuball.png", alt: "JuMu-Ball", id: "hero-logo" %>
    </div>
    <div class="span5">
      <h1>jumu-nordost.eu</h1>

      <p>Die Website des Wettbewerbs “Jugend musiziert”<br />für die Deutschen Schulen der Region Nord- und Osteuropa</p>

    </div>
  </div>
</div>

<p class="lead">Herzlich willkommen! Auf diesen Seiten findest du Infos zu folgenden Themen:</p>

<div class="row">
  <div class="span3">
    <h3>Moskau 2013</h3>
    <p>Der Landeswettbewerb 2013 findet vom 6. bis 10. März an der <a href="http://www.dsmoskau.ru">Deutschen Schule Moskau</a> statt.</p>
    <p><%= link_to "Mehr Informationen »", lw_path, class: "btn" %></p>
  </div>
  <div class="span3">
    <h3>Teilnahme</h3>
    <p>Die Regeln zur Teilnahme an “Jugend musiziert” kannst du der <%= link_to "Ausschreibung", asset_path('ausschreibung_2013.pdf') %> entnehmen. Auf der Seite <%= link_to "Regeln", rules_path %> gibt es außerdem Infos zu den Pop-Kategorien.</p>
  </div>
  <div class="span3">
    <h3>Allgemeines</h3>
    <p>Hier findest du eine kurze <%= link_to "Vorstellung", competition_path %> des Wettbewerb “Jugend musiziert” sowie der einzelnen <%= link_to "Gremien", organisation_path %>. Für Fragen gibt es das <%= link_to "Kontaktformular", contact_path %>.</p>
  </div>
</div>
