<div class="hero-unit">
  <div class="row">
    <div class="span2">
      <%= image_tag "jumuball.png", alt: "JuMu-Ball", id: "hero-logo" %>
    </div>
    <div class="span5">
      <h1>jumu-nordost.eu</h1>

      <p>Die Website des Wettbewerbs “Jugend musiziert”<br />für die Deutschen Schulen der Region Nord- und Osteuropa</p>

    </div>
  </div>
</div>

<p class="lead">Herzlich willkommen! Auf diesen Seiten findest du Infos zu folgenden Themen:</p>

<div class="row">
  <div class="span4">
    <h3>Teilnahmeregeln</h3>
    <p>Die Regeln zur Teilnahme an “Jugend musiziert” stehen in der <%= link_to "Ausschreibung", asset_path('Ausschreibung_2015.pdf') %>. Außerdem gibt es die <%= link_to "Sonderkategorien", rules_path %> Pop und KiMu.</p>
  </div>
  <div class="span4 offset1">
    <h3>Anmeldung</h3>
    <p>Das Anmeldeformular für den gesamten Wettbewerb 2015 geht am 13.&nbsp;Oktober 2014 online.</p>
  </div>
</div>
<div class="row">
  <div class="span4">
    <h3>Paris 2015</h3>
    <p>Der <%= link_to "Landeswettbewerb 2015", lw_path %> findet vom 18. bis 23. März an der <a href="http://www.idsp.fr/">Deutschen Schule Paris</a> statt.</p>
  </div>
  <div class="span4 offset1">
    <h3>Hintergründe</h3>
    <p>Hier findest du eine kurze <%= link_to "Vorstellung", competition_path %> des Wettbewerb “Jugend musiziert” sowie der einzelnen <%= link_to "Gremien", organisation_path %>.</p>
  </div>
</div>
