<h2>Hallo und herzlich willkommen&nbsp;&hellip;</h2>

<p>&hellip;&nbsp;auf der Website des Wettbewerbs “Jugend musiziert” für die Deutschen Schulen der Wettbewerbsregion Nord- und Osteuropa!</p>

<p>Neben allgemeinen Informationen zum <%= link_to "Wettbewerb", competition_path %> und seiner <%= link_to "Organisation", organisation_path %> findest du auf diesen Seiten auch die <%= link_to "Ausschreibung", rules_path %> sowie <%= "vor jeder Wettbewerbsrunde" unless JUMU_SIGNUP_OPEN %> das elektronische <%= JUMU_SIGNUP_OPEN ? (link_to "Anmeldeformular", new_entry_path) : "Anmeldeformular" %>.</p>

<p>Die Ausschreibung für das Wettbewerbsjahr 2012 steht unter dem Link <%= link_to "Regeln", rules_path %> zum Download bereit. Auf der gleichen Seite findest du auch die Teilnahmeregeln für die Pop-Kategorien.</p>