<h2>Hallo und herzlich willkommen&nbsp;&hellip;</h2>

<p>&hellip;&nbsp;auf der Website des Wettbewerbs “Jugend musiziert” für die Deutschen Schulen der Wettbewerbsregion Nord- und Osteuropa!</p>

<p>Neben allgemeinen Informationen zum <%= link_to "Wettbewerb", competition_path %> und seiner <%= link_to "Organisation", organisation_path %> findest du auf diesen Seiten auch die <%= link_to "Ausschreibung", rules_path %> sowie das elektronische <%= link_to "Anmeldeformular", new_entry_path %>.</p>

<p class="info">Das <strong>Anmeldeformular für die Regionalwettbewerbe 2012</strong> ist nun freigeschaltet! Bitte melde dich und deine Spielpartner so bald wie möglich über den Link "Anmeldung" in der linken Spalte an. Den Anmeldeschluss erfährst du von der JuMu-Kontaktperson an deiner Schule.

<p>Die Ausschreibung für das Wettbewerbsjahr 2012 steht unter dem Link <%= link_to "Regeln", rules_path %> zum Download bereit. Auf der gleichen Seite findest du auch die Teilnahmeregeln für die Pop-Kategorien.</p>