<h2>Wertungsplan <%= l @date, format: :yearless %></h2>

<h3><%= "#{@venue.host.name}, #{@venue.name_with_usage}" %></h3>

<table>
	<thead>
  <tr>
    <th class="span-1">Einspiel</th>
    <th class="span-1"><strong>Vorspiel</strong></th>
    <th class="span-3">Kategorie</th>
    <th class="span-1">AG</th>
    <th class="span-6">Teilnehmer</th>
  </tr>
	</thead>
	<tbody>
  <% @entries.each do |entry| %>
    <tr>
      <td><%= l entry.stage_time - 20.minutes, :format => :time if entry.stage_time %></td>
      <td><strong><%= l entry.stage_time, :format => :time if entry.stage_time %></strong></td>
      <td><%= entry.category.name %></td>
      <td><%= entry.age_group %></td>
      <td>
        <% entry.appearances.role_order.each do |a| %>
          <%= a.participant.full_name %>
          <%= " (AG #{a.age_group})" if a.age_group != entry.age_group %><br />
        <% end %>
				<span class="quiet"><%= entry.first_competition.host.name %></span>
      </td>
    </tr>
  <% end %>
	</tbody>
</table>