<%= form_for @contact, :url => { :action => "create" },
    :html => { :method => :post } do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "text" %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, :class => "text" %>
  </div>
  <div class="field">
    <%= f.label :subject %>
    <%= f.text_field :subject, :class => "text" %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit "Absenden" %>
  </div>
<% end %>