<% provide(:title, "Wettbewerbe verwalten") %>

<%= link_to "Neuen Wettbewerb erstellen", new_jmd_contest_path, class: "btn" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Land</th>
      <th>Saison</th>
      <th>Dauer</th>
      <th>Anmeldeschluss</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @contests.each do |contest| %>
    <tr>
      <td><%= link_to contest.name, jmd_contest_path(contest) %></td>
      <td><%= flag_tag(contest.host.country_code) %></td>
      <td><%= contest.season %></td>
      <td>
        <%= "#{l contest.begins} – #{l contest.ends}" %>
      </td>
      <td><%= l contest.signup_deadline %></td>
      <td>
        <%= link_to icon_tag("edit", title: "Diesen Wettbewerb bearbeiten"),
            edit_jmd_contest_path(contest), class: "btn btn-mini" %>
        <%= link_to icon_tag("remove", title: "Diesen Wettbewerb löschen"),
            jmd_contest_path(contest), method: :delete,
            confirm: "Soll der Wettbewerb #{contest.name} wirklich gelöscht werden?", class: "btn btn-mini btn-danger" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
