<% provide(:title, @contest.can_be_advanced_from? ? "Weiterleitungen migrieren" : "Weiterleitungen aus #{@contest.round_slug_and_year}") %>

<% if @contest.can_be_advanced_from? %>
  <%= form_tag migrate_advancing_jmd_contest_path, method: :post, class: "form-search well" do %>
    <%= "#{@performances.size} #{Performance.model_name.human(count: @performances.size)}" %>
    von <strong><%= @contest.name %></strong> nach
    <%= select nil, :target_contest_id,
                    @possible_target_contests.collect { |c| [c.name, c.id] } %>
    <%= submit_tag "migrieren", class: "btn btn-primary" %>
    <br />
    <span class="muted">
      <%= "#{@already_migrated.size} #{Performance.model_name.human(count: @already_migrated.size)}" %>
      bereits migriert
    </span>
  <% end %>
<% end %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th width="30%">Kategorie</th>
      <th>Teilnehmer</th>
      <th>AG</th>
      <th>Punkte</th>
      <th>Preis</th>
    </tr>
  </thead>
  <tbody id="appearance-rows">
    <% @performances.each do |performance| %>
      <% appearances = performance.appearances.role_order %>
      <% appearances.each do |appearance| %>
      <tr>
        <% if appearance == appearances.first %>
        <td rowspan="<%= performance.appearances.length %>">
          <%= link_to performance.category.name, jmd_performance_path(performance) %>
        </td>
        <% end %>
        <td>
          <%= content_tag :span, class: (appearance.accompaniment?) ? "muted" : nil do %>
            <%= link_to appearance.participant.full_name, jmd_contest_participant_path(@contest, appearance.participant) %>,
            <%= appearance.instrument.name %>
          <% end %>
        </td>
        <td><%= age_group_badge_tag(appearance) %></td>
        <td><%= info_badge_tag(appearance.points.to_s, :important) if appearance.points %></td>
        <td>
          <%= content_tag :span, class: (appearance.may_advance_to_next_round?) ? nil : "muted" do %>
            <%= appearance.prize %>
            <%= info_label_tag("WL", :success) if appearance.may_advance_to_next_round? %>
          <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
