<p>Hallo <%= @participant.first_name %>,</p>

<p>Herzlichen Glückwunsch zur Weiterleitung zum <%= @performance.competition.round_name_and_year %>
  in der Kategorie <em><%= @performance.category.name %></em>!
</p>

<p>Bis zum <strong><%= l(@performance.competition.last_signup_date, format: :long) %></strong> kannst du das Vorspielprogramm noch ändern. Dazu brauchst du den folgenden Änderungscode:</p>

<p><strong><%= @performance.tracing_code %></strong></p>

<p>Bitte gib ihn nur an Personen weiter, die diese Anmeldung bearbeiten dürfen. Deine Programmänderungen kannst du mit dem obenstehenden Code auf folgender Seite anmelden:</p>

<p><%= link_to nil, signup_search_url %></p>

<p>Viel Erfolg bei der Teilnahme am <%= @performance.competition.round_name_and_year %> wünscht Dir</p>

<p>Dein JuMu-Orgteam</p>
