<% Competition.current.each do |competition| %>
  <div id="draggable-container" class="span-16 last">
    <% if competition.days.count > 2 %>
      <div>
        <p>
          <a href="#" id="earlier-button">&larr; Früher</a>
          &middot;
          <a href="#" id="later-button">Später &rarr;</a>
        </p>
      </div>
    <% end %>
    
    <% competition.days.each do |day| %>
    <div class="day-column span-5">
      <h3><%= l day, :format => :long %></h3>
      <div id="<%= day.to_s %>" class="droppable-timetable">
        <div class="draggable-entries">
          <%= render :partial => 'draggable_entry',
              :collection => @entries.on_date(day).category_order, :as => :entry %>
        </div>
      </div>
    </div>
    <% end %>
  
    <div class="prepend-1 span-5 last">
      <h3 class="quiet">noch ohne Zeit</h3>
      <div id="unscheduled" class="droppable-timetable">
        <span id="unschedule-text" style="display:none;">
          <%= icon_tag 'time_delete' %> Zeit entfernen
        </span>
        <div class="draggable-entries">
          <%= render :partial => 'draggable_entry',
              :collection => @entries.on_date(nil).category_order, :as => :entry %>
        </div>
      </div>
    </div>
  </div>
<% end %>