<p>
  <span class="quiet">Änderungscode:</span> <%= entry.edit_code %>
  <% if admin? %>
    (<%= link_to "Wertung bearbeiten",
      edit_jmd_entry_path(entry) %>)
  <% elsif JUMU_SIGNUP_OPEN %>
    (<%= link_to "Wertung bearbeiten",
      edit_entry_path(entry, :edit_code => entry.edit_code) %>)
  <% end %>
  <br />
  <span class="quiet">Erhalten am:</span> <%= l entry.created_at.utc %> GMT
  <% unless entry.updated_at == entry.created_at %>
    <br />
    <span class="quiet">Zuletzt geändert am:</span> <%= l entry.updated_at.utc %> GMT
  <% end %>
</p>