<%= render 'shared/error_messages', :object => f.object %>
<%= field_set_tag "Teilnahmeort und Kategorie" do %>
  <div class="field">
    <%= f.label :competition_id %>
    <%= collection_select(:entry, :competition_id, Competition.current, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :category_id %>
    <%= collection_select(:entry, :category_id, Category.all,
        :id, :name, {:include_blank => 'Bitte wählen'}) %>
  </div>
<% end %>
<%= field_set_tag "Wer nimmt an diesem Vorspiel teil…" do %>
  <div id="appearances">
    <%= link_to_add_appearance "Neuen Teilnehmer hinzufügen", f %>
    <%= f.fields_for :appearances do |appearance_form| %>
      <%= render 'appearance_fields', :f => appearance_form %>
    <% end %>
  </div>
<% end %>
<%= field_set_tag "…und mit welchem Programm?" do %>
  <div id="pieces">
    <%= link_to_add_piece "Neues Stück hinzufügen", f %>
    <%= f.fields_for :pieces do |piece_form| %>
      <%= render 'piece_fields', :f => piece_form %>
    <% end %>
  </div>
<% end %>