<h2>Wertungen verwalten</h2>

<p>
  <%= @entries.length %> Wertungen angemeldet
  <!-- &middot;
  <%= link_to "Alle anzeigen", jmd_entries_path %> -->
</p>
  
<table id="entry-table" border="0" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th class="span-1"><%= sortable "stage_time", "Zeit" %></th>
      <th class="span-3">
        <%= sortable "categories.pop, categories.solo desc, categories.name", "Kategorie" %>
      </th>
      <th class="span-9">Teilnehmer</th>
      <th class="span-3 last">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @entries.each do |entry| %>
    <tr>
      <td><%= l entry.stage_time, :format => :tiny if entry.stage_time %></td>
      <td><%= entry.category.name %></td>
      <td>
        <% entry.appearances.role_order.each do |appearance| %>
          <span class="participant <%= "accompanist" if appearance.accompaniment? %>">
            <%= appearance.participant.full_name %>,
            <%= appearance.instrument.name %>
            <span class="quiet">(AG&nbsp;<%= appearance.age_group %>)</span>
          </span>
        <% end %>
      </td>
      <td style="text-align: right">
        <%= link_to icon_tag("information", :title => "Wertungsdetails anzeigen"), jmd_entry_path(entry) %>
        <%= link_to icon_tag("pencil", :title => "Diese Wertung bearbeiten"), edit_jmd_entry_path(entry) %>
        <%= link_to icon_tag("delete", :title => "Diese Wertung löschen"),  jmd_entry_path(entry), :method => :delete, :confirm => "Soll die Wertung wirklich gelöscht werden?" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>