<h2>Jurybögen erstellen</h2>

<%= render 'filter_form', :path => make_jury_sheets_jmd_entries_path %>

<p>
  <%= @entries.length %> von <%= Entry.visible_to(current_user).count %> Wertungen
  &middot;
  <%= link_to "Alle anzeigen", make_jury_sheets_jmd_entries_path %>
  &middot;
  <%= link_to "Jurybögen ausgeben", params.merge(:format => :pdf) %>
</p>

<table id="entry-table" border="0" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th class="span-1"><%= sortable "stage_time", "Zeit" %></th>
      <th class="span-5">
        <%= sortable "categories.pop, categories.solo desc, categories.name", "Kategorie" %>
      </th>
      <th class="span-10 last">Teilnehmer</th>
    </tr>
  </thead>
  <tbody>
    <% @entries.each do |entry| %>
    <tr>
      <td><%= l entry.stage_time, :format => :tiny if entry.stage_time %></td>
      <td><%= entry.category.name %></td>
      <td>
        <% entry.appearances.role_order.each do |appearance| %>
          <span class="participant <%= "accompanist" if appearance.accompaniment? %>">
            <%= appearance.participant.full_name %>,
            <%= appearance.instrument.name %>
            <span class="quiet">(AG&nbsp;<%= appearance.age_group %>)</span>
          </span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>