<% provide(:title, "Statistik") %>

<h3>Vorspielzahlen</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th rowspan="2">Wettbewerbsjahr</th>
      <th colspan="4">Regionalwettbewerb</th>
      <th colspan="3">Landeswettbewerb</th>
    </tr>
    <tr>
      <th>Gesamt</th>
      <th>Kimu</th>
      <th>Klassik</th>
      <th>Pop</th>
      <th>Gesamt</th>
      <th>Klassik</th>
      <th>Pop</th>
    </tr>
  </thead>
  <tbody>
    <%
      @season_stats.each do |season_stat|
      rw_stats = season_stat[:rw_stats]
      lw_stats = season_stat[:lw_stats]
    %>
    <tr>
      <td><%= lookup_jumu_year(season_stat[:season]) %></td>
      <td><%= rw_stats[:sum] %></td>
      <td><%= rw_stats[:kimu] %></td>
      <td><%= rw_stats[:classical] %></td>
      <td><%= rw_stats[:popular] %></td>
      <td><%= lw_stats[:sum] %></td>
      <td><%= lw_stats[:classical] %></td>
      <td><%= lw_stats[:popular] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
