<h3>Hallo <%= @current_user.first_name %>,</h3>

<p>willkommen auf den internen Jumu-Seiten! Hier kannst du unter anderem:</p>

<div class="row">
  <div class="span4">
    <ul>
      <li>angemeldete Vorspiele einsehen</li>
      <li>Vorspieldaten bearbeiten</li>
      <li>Vorspiele nachmelden</li>
    </ul>
  </div>

  <div class="span4">
    <ul>
      <li>Teilnehmer auflisten</li>
      <li>Ergebnisse eintragen</li>
      <li>Urkunden drucken</li>
    </ul>
  </div>
</div>

<p>Diese und andere Werkzeuge findest du, indem du in der Seitenleiste auf den entsprechenden Wettbewerb klickst.</p>

<hr>

<h4>Wettbewerbsressourcen</h4>

<p>Für die Einarbeitung der Jury empfehlen wir die <%= link_to "Juryrichtlinien", asset_path("Juryrichtlinien.pdf") %> sowie den <%= link_to "Ratgeber zur Teilnehmerberatung", asset_path("Vademecum-Teilnehmerberatung.pdf") %>.</p>

<p>Bei Fragen zur Vorspielliteratur wendest du dich am besten an die <a href="https://www.jugend-musiziert.org/bundesgeschaeftsstelle/kontakt/team.html">Bundesgeschäftsstelle</a> (Stichwort "Literaturberatung").</p>

<h4>Sitzungsprotokolle</h4>

<p>Hier findest du die Protokolle der vergangenen LW-Sitzungen:
  <br>
  <%= link_to "2014", asset_path("LW-Protokoll 2014.pdf") %>,
  <%= link_to "2015", asset_path("LW-Protokoll 2015.pdf") %>,
  <%= link_to "2016", asset_path("LW-Protokoll 2016.pdf") %>,
  <%= link_to "2017", asset_path("LW-Protokoll 2017.pdf") %>,
  <%= link_to "2018", asset_path("LW-Protokoll 2018.pdf") %>
</p>

<h4>Sonstiges</h4>

<p>Ein kleines Jumu-Promotionsvideo der DS London gibt es hier: <a href="https://youtu.be/cKlSojEgl-Y">https://youtu.be/cKlSojEgl-Y</a></p>

<p>Fragen oder Feedback zu dieser Seite schickst du am besten direkt an <%= mail_to JUMU_ADMIN_EMAIL, JUMU_ADMIN_NAME %>.</p>
