<%= render 'shared/error_messages', :object => f.object %>

<div class="field">
  <%= f.label :username %>
  <%= f.text_field :username, :class => 'text' %>
</div>

<div class="field">
  <%= f.label :password %>
  <%= f.password_field :password, :class => 'text' %>
</div>

<div class="field">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, :class => 'text' %>
</div>

<div class="field">
  <%= f.label :admin %>
  <%= f.check_box :admin %>
</div>

<div class="field">
  <%= f.label :host_ids %>
  <%= f.collection_select(:host_ids, Host.all, :id, :name, {}, { :multiple => :true }) %>
</div>