<% provide(:title, "Benutzer verwalten") %>

<%= link_to "Neuen Benutzer erstellen", new_jmd_user_path, class: "btn" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>E-Mail</th>
      <th>Admin</th>
      <th>Erstellt</th>
      <th>Letzter Login</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.admin? ? "Ja" : "Nein" %></td>
      <td><%= l user.created_at, :format => :short %></td>
      <td><%= user.last_login? ? (l user.last_login, :format => :short) : "?" %></td>
      <td>
        <%= link_to icon_tag("eye-open", :title => "Benutzerdetails anzeigen"), jmd_user_path(user) %>
        <%= link_to icon_tag("edit", :title => "Diesen Benutzer bearbeiten"), edit_jmd_user_path(user) %>
        <%= link_to icon_tag("remove", :title => "Diesen Benutzer löschen"), jmd_user_path(user), :method => :delete, :confirm => "Soll der Benutzer #{user.email} wirklich gelöscht werden?" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
