<% provide(:title, "Benutzer verwalten") %>

<%= link_to "Neuen Benutzer erstellen", new_jmd_user_path, class: "btn btn-default" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>E-Mail</th>
      <th>Eingeloggt seit</th>
      <th>Logins</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= link_to user.full_name, jmd_user_path(user) %>
        <%= info_label_tag("Admin", :important) if user.admin? %>
      </td>
      <td><%= user.email %></td>
      <td>
        <%= user.current_sign_in_at? ? (l user.current_sign_in_at, format: :short) : "?"
        %>
      </td>
      <td>
        <%= user.sign_in_count %>
      </td>
      <td>
        <%= link_to icon_tag("edit", title: "Diesen Benutzer bearbeiten"), edit_jmd_user_path(user), class: "btn btn-xs" %>
        <%= link_to icon_tag("remove", title: "Diesen Benutzer löschen"), jmd_user_path(user), method: :delete, confirm: "Soll der Benutzer #{user.email} wirklich gelöscht werden?", class: "btn btn-xs" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
