<p>
	<%= icon_tag "arrow_turn_left" %>
	<%= link_to "zurück zur Benutzerliste", jmd_users_path %>
</p>

<h2>Benutzerdetails</h2>


<dl>
  <dt>Benutzername</dt>
    <dd><%= @user.username %></dd>
  <dt>Admininistrator</dt>
    <dd><%= @user.admin ? "Ja" : "Nein" %></dd>
  <dt>Rechte für</dt>
    <dd>
      <% if @user.admin %>
        alle Schulen
      <% else @user.hosts.each do |h| %>
          <%= h.name %><br />
        <% end %>
      <% end %>
    </dd>
</dl>
