<% provide(:title, "Kategorien verwalten") %>

<%= link_to "Neue Kategorie erstellen", new_jmd_category_path, class: "btn" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Kürzel</th>
      <th>Genre</th>
      <th>Solo/Ensemble</th>
      <th>bis Runde</th>
      <th>AGs offiziell</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.slug %></td>
        <td><%= category.popular? ? "Pop" : "Klassik" %></td>
        <td>
          <%= info_label_tag("Solo", :info) if category.solo? %>
          <%= info_label_tag("Ensemble", :info) if category.ensemble? %>
        </td>
        <td>
          <% type = category.max_round < 3 ? :warning : :info %>
          <%= info_label_tag(short_name_for_round(category.max_round), type) %>
        </td>
        <td>
          <%= "#{category.official_min_age_group} – #{category.official_max_age_group}" %>
        </td>
        <td>
          <%= link_to icon_tag("edit", title: "Diese Kategorie bearbeiten"), edit_jmd_category_path(category), class: "btn btn-mini" %>
          <%= link_to icon_tag("remove", title: "Diese Kategorie löschen"), jmd_category_path(category), method: :delete, :confirm => "Soll die Kategorie #{category.name} wirklich gelöscht werden?", class: "btn btn-mini btn-danger" %>
        </td>
      <tr>
    <% end %>
  </tbody>
</table>
