<%= render 'shared/error_messages', :object => f.object %>

<div class="field">
  <%= f.label :round_id %>
  <%= collection_select(:competition, :round_id, Round.all,
      :id, :name, {:include_blank => 'Bitte wählen'}) %>
</div>

<div class="field">
  <%= f.label :host_id %>
  <%= collection_select(:competition, :host_id, Host.all,
      :id, :name, {:include_blank => 'Bitte wählen'}) %>
</div>

<div class="field">
  <%= f.label :begins %>
  <%= f.date_select :begins, :order => [:day,:month,:year],
       :start_year => Time.now.year + 2, :end_year => Time.now.year - 1,
       :prompt => { :day => "Tag", :month => "Monat", :year => "Jahr" } %>
</div>

<div class="field">
  <%= f.label :ends %>
  <%= f.date_select :ends, :order => [:day,:month,:year],
       :start_year => Time.now.year + 2, :end_year => Time.now.year - 1,
       :prompt => { :day => "Tag", :month => "Monat", :year => "Jahr" } %>
</div>

<div class="field">
  <%= f.label :certificate_date %>
  <%= f.date_select :certificate_date, :order => [:day,:month,:year],
       :start_year => Time.now.year + 2, :end_year => Time.now.year - 1,
       :prompt => { :day => "Tag", :month => "Monat", :year => "Jahr" } %>
</div>

<div class="field">
  <%= f.label :category_ids %>
  <%= f.collection_select(:category_ids, Category.all, :id, :name, {},
        { :multiple => :true, :class => "chzn-select",
          "data-placeholder" => "Bitte Kategorien auswählen", :style => "width:180px;" }) %>
</div>

<%= hidden_field_tag "competition[category_ids][]" %>