<div class="well">
  <form class="form-horizontal">
    <% if @competition.days.count > 2 %>
      <a href="#" id="earlier-button" class="btn">&larr; früher</a>
      <a href="#" id="later-button" class="btn">später &rarr;</a>
    <% end %>

    <%= select "performance", "category_id", @categories.collect {|p| [p.name, p.id]},
               { include_blank: "Alle Kategorien" } %>
  </form>
</div>

<% @competition.days.each do |day| %>
<div class="day-column span3">
  <h4><%= l day, :format => :long %></h4>
  <div id="<%= day.to_s %>" class="droppable-timetable">
    <div class="draggable-performances">
      <%= render partial: 'jmd/performances/draggable_performance',
                 collection: @performances.on_date(day).browsing_order, as: :performance %>
    </div>
  </div>
</div>
<% end %>

<div class="span2">
  <h4 class="quiet">noch ohne Zeit</h4>
  <div id="unscheduled" class="droppable-timetable">
    <span id="unschedule-text" style="display:none;">
      <%= icon_tag 'time_delete' %> Zeit entfernen
    </span>
    <div class="draggable-performances">
      <%= render partial: 'jmd/performances/draggable_performance',
                 collection: @performances.on_date(nil).browsing_order, as: :performance %>
    </div>
  </div>
</div>
