<p>
	<%= icon_tag "arrow_turn_left" %>
	<%= link_to "zurück zur Wettbewerbsliste", jmd_competitions_path %>
</p>

<h2>Wettbewerb bearbeiten</h2>

<%= form_for [:jmd, @competition] do |f| %>
  <%= render 'competition_fields', :f => f %>
  <div class="actions">
    <%= f.submit "Änderungen speichern" %>
  </div>
<% end %>