<% provide(:title, "Wettbewerbe verwalten") %>

<%= link_to "Neuen Wettbewerb erstellen", new_jmd_competition_path, class: "btn" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Land</th>
      <th>Saison</th>
      <th>Dauer</th>
      <th>Anmeldeschluss</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @competitions.each do |competition| %>
    <tr>
      <td><%= link_to competition.name, jmd_competition_path(competition) %></td>
      <td><%= flag_tag(competition.host.country.country_code) %></td>
      <td><%= competition.season %></td>
      <td>
        <%= "#{l competition.begins} – #{l competition.ends}" %>
      </td>
      <td><%= l competition.signup_deadline, format: :tiny %></td>
      <td>
        <%= link_to icon_tag("eye-open", :title => "Wettbewerbsdetails anzeigen"),
            jmd_competition_path(competition) %>
        <%= link_to icon_tag("edit", :title => "Diesen Wettbewerb bearbeiten"),
            edit_jmd_competition_path(competition) %>
        <%= link_to icon_tag("remove", :title => "Diesen Wettbewerb löschen"),
            jmd_competition_path(competition), :method => :delete,
            :confirm => "Soll der Wettbewerb #{competition.name} wirklich gelöscht werden?" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
