<% provide(:title, "Weiterleitungen migrieren") %>

<%= form_tag migrate_advancing_jmd_competition_path, method: :post, class: "form-search well" do %>
  <%= "#{@performances.size} #{Performance.model_name.human(count: @performances.size)}" %>
  von <strong><%= @competition.name %></strong> nach
  <%= select nil, :target_competition_id,
                  @possible_target_competitions.collect { |c| [c.name, c.id] } %>
  <%= submit_tag "migrieren", class: "btn btn-primary" %>
  <br />
  <span class="muted">
    <%= "#{@already_migrated.size} #{Performance.model_name.human(count: @already_migrated.size)}" %>
    bereits migriert
  </span>
<% end %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Kategorie</th>
      <th>Teilnehmer</th>
      <th>AG</th>
      <th>Punkte</th>
      <th>Preis</th>
    </tr>
  </thead>
  <tbody id="appearance-rows">
    <% @performances.each do |performance| %>
      <% appearances = performance.appearances.role_order %>
      <% appearances.each do |appearance| %>
      <tr>
        <% if appearance == appearances.first %>
        <td rowspan="<%= performance.appearances.length %>"><%= performance.category.name %></td>
        <% end %>
        <td>
          <%= content_tag :span, class: (appearance.accompaniment?) ? "muted" : nil do %>
            <%= appearance.participant.full_name %>, <%= appearance.instrument.name %>
          <% end %>
        </td>
        <td><%= age_group_badge_tag(appearance) %></td>
        <td><%= info_badge_tag(appearance.points.to_s, :important) if appearance.points %></td>
        <td>
          <%= appearance.prize %>
          <%= info_label_tag("WL", :success) if appearance.may_advance_to_next_round? %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
