<% provide(:title, "Weiterleitungen migrieren") %>

<div class="well">
  von <strong><%= @competition.name %></strong> nach
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Kategorie</th>
      <th>Teilnehmer</th>
      <th>AG</th>
      <th>Punkte</th>
      <th>Preis</th>
    </tr>
  </thead>
  <tbody id="appearance-rows">
    <% @performances.each do |performance| %>
      <% appearances = performance.appearances.role_order %>
      <% appearances.each do |appearance| %>
      <tr>
        <% if appearance == appearances.first %>
        <td rowspan="<%= performance.appearances.length %>"><%= performance.category.name %></td>
        <% end %>
        <td>
          <%= content_tag :span, class: (appearance.accompaniment?) ? "muted" : nil do %>
            <%= appearance.participant.full_name %>, <%= appearance.instrument.name %>
          <% end %>
        </td>
        <td><%= age_group_badge_tag(appearance) %></td>
        <td><%= info_badge_tag(appearance.points.to_s, :important) if appearance.points %></td>
        <td>
          <%= appearance.prize %>
          <% info_label_tag("WL", :success) if appearance.may_advance_to_next_round? %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
