<p>
	<%= icon_tag "arrow_turn_left" %>
	<%= link_to "zurück zur Wettbewerbsliste", jmd_competitions_path %>
</p>

<h2>Wettbewerbsdetails</h2>


<dl>
  <dt>Name</dt>
    <dd><%= @competition.name %></dd>
  <dt>Runde</dt>
    <dd><%= @competition.round.name %></dd>
  <dt>Schule</dt>
    <dd><%= @competition.host.name %></dd>
  <dt>Dauer</dt>
    <dd><%= l @competition.begins %> &ndash; <%= l @competition.ends %></dd>
  <% unless @competition.certificate_date.nil? %>
  <dt>Urkundenvergabe</dt>
    <dd><%= l @competition.certificate_date %></dd>
  <% end %>
</dl>
