<% provide(:title, @competition.name) %>

<%= link_to "Alle Wettbewerbe anzeigen", jmd_competitions_path, class: "btn" %>

<dl>
  <dt>Saison</dt>
    <dd><%= @competition.season %></dd>
  <dt>Runde</dt>
    <dd><%= @competition.round.name %></dd>
  <dt>Schule</dt>
    <dd><%= @competition.host.name %> <%= flag_tag(@competition.host.country.country_code) %></dd>
  <dt>Zeitzone</dt>
    <dd><%= @competition.host.time_zone.formatted_offset %></dd>
  <dt>Dauer</dt>
    <dd><%= "#{l @competition.begins, format: :long} – #{l @competition.ends, format: :long}" %></dd>
  <dt>Urkundenvergabe</dt>
    <dd><%= @competition.certificate_date ?
            (l @competition.certificate_date, format: :long) : "unbekannt" %></dd>
</dl>

<h3>Werkzeuge</h3>

<h4>Vor der Wertung</h4>
<p>
  <%= link_to "Vorspiele anzeigen", jmd_competition_performances_path(@competition), class: "btn" %>
  <%= link_to "Teilnehmer anzeigen", jmd_competition_participants_path(@competition), class: "btn" %>
</p>
<p>
  <%= link_to "Klassikvorspiele planen", schedule_classical_jmd_competition_path(@competition), class: "btn" %>

    <%= link_to "Popvorspiele planen", schedule_popular_jmd_competition_path(@competition),
                class: "btn" %>
  <%= link_to "Jurybögen drucken", make_jury_sheets_jmd_competition_performances_path(@competition), class: "btn" %>
</p>

<h4>Nach der Wertung</h4>
<p>
  <%= link_to "Ergebnisse eintragen", jmd_competition_appearances_path(@competition), class: "btn" %>
  <%= link_to "Urkunden drucken", make_certificates_jmd_competition_performances_path(@competition), class: "btn" %>
  <%= link_to "Ergebnislisten drucken", make_result_sheets_jmd_competition_performances_path(@competition), class: "btn" %>
</p>

<h3>Statistik</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="1">Teilnehmer</th>
      <th colspan="3">Vorspiele</th>
      <th colspan="2">Auftritte</th>
    </tr>
    <tr>
      <th>Gesamt</th>
      <th>Gesamt</th>
      <th>Klassik</th>
      <th>Pop</th>
      <th>Gesamt</th>
      <th>ohne Ergebnis</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @competition.participants.size %></td>
      <td><%= @competition.performances.size %></td>
      <td><%= @competition.performances.classical.size %></td>
      <td><%= @competition.performances.popular.size %></td>
      <td><%= @competition.appearances.size %></td>
      <td><%= @competition.appearances.pointless.size %></td>
    </tr>
  </tbody>
</table>

<% if can? :manage, Competition %>
  <h3>Admin</h3>

  <p>
    <%= if @competition.can_be_advanced_from?
        link_to "Weiterleitungen migrieren…", list_advancing_jmd_competition_path(@competition),
                class: "btn"
        end %>
    <%= if @competition.can_be_advanced_to?
        link_to "Willkommensmails senden", welcome_advanced_jmd_competition_path,
                class: "btn btn-warning", confirm: "Soll(en) wirklich #{@competition.participants.size} Teilnehmer benachrichtigt werden?"
        end %>
  </p>
<% end %>
