<% provide(:title, "Wettbewerbsdetails") %>

<dl>
  <dt>Saison</dt>
    <dd><%= @competition.season %></dd>
  <dt>Runde</dt>
    <dd><%= @competition.round.name %></dd>
  <dt>Schule</dt>
    <dd><%= @competition.host.name %></dd>
  <dt>Dauer</dt>
    <dd><%= "#{l @competition.begins} – #{l @competition.ends}" %></dd>
  <dt>Urkundenvergabe</dt>
    <dd><%= @competition.certificate_date || "unbekannt" %></dd>
</dl>

<h3>Statistik</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Teilnehmer</th>
      <th>Wertungen</th>
      <th>Auftritte</th>
      <th>ohne Ergebnis</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @competition.participants.size %></td>
      <td><%= @competition.performances.size %></td>
      <td><%= @competition.appearances.size %></td>
      <td><%= @competition.appearances.pointless.size %></td>
    </tr>
  </tbody>
</table>

<%= link_to "Zurück zur Wettbewerbsliste", jmd_competitions_path, class: "btn" %>
