<div class="appearance field-group well">
  <h3 class="number">Teilnehmer</h3>
  <%= f.fields_for :participant do |p| %>
    <%= p.input :first_name %>

    <%= p.input :last_name %>

    <%= f.input :role_id, collection: Role.all, prompt: "Bitte wählen" %>

    <%= f.input :instrument_id, collection: Instrument.all(order: "name"), prompt: "Bitte wählen" %>

    <%= p.input :birthdate, as: :date, order: [:day,:month,:year],
          start_year: Time.now.year - 5, end_year: Time.now.year - 27,
          prompt: { day: "Tag", month: "Monat", year: "Jahr" }, input_html: { class: "span2" }, hint: "Bitte unbedingt das richtige Geburtsdatum angeben!" %>

    <%= p.input :gender, collection: [:m, :f], as: :radio_buttons %>

    <%= p.input :street %>

    <%= p.input :postal_code %>

    <%= p.input :city %>

    <%= p.input :country_id, collection: Country.all(:order => "name"), prompt: "Bitte wählen",
                hint: "(gemeint ist das Land des Wohnorts, nicht die Staatsbürgerschaft)" %>

    <%= p.input :phone %>

    <%= p.input :email, hint: "Bitte unbedingt eine gültige E-Mailadresse angeben!" %>
  <% end %>

  <div class="controls" id="participant-remover">
    <%= link_to_remove_fields "Diesen Teilnehmer entfernen", f %>
  </div>
</div>
