<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name, :class => "text" %>
</div>
<div class="field">
  <%= f.label :born %>
  <%= f.text_field :born, :class => "text short" %>
</div>
<div class="field">
  <%= f.label :died %>
  <%= f.text_field :died, :class => "text short" %>
</div>