<%= render 'shared/error_messages', :object => f.object %>

<%= field_set_tag @contest.name do %>
  <%= f.input :contest_category_id, collection: @contest.contest_categories, prompt: "Bitte wählen", input_html: { class: "span3" } %>
<% end %>

<%= field_set_tag "Wer nimmt an diesem Vorspiel teil…" do %>
  <div id="appearances">
    <%= f.fields_for :appearances do |appearance_form| %>
      <%= render 'appearance_fields', :f => appearance_form %>
    <% end %>
    <%= link_to_add_appearance "Weiteren Teilnehmer hinzufügen", f %>
  </div>
<% end %>
<%= field_set_tag "…und mit welchem Programm?" do %>
  <div id="pieces">
    <%= f.fields_for :pieces do |piece_form| %>
      <%= render 'piece_fields', :f => piece_form %>
    <% end %>
    <%= link_to_add_piece "Weiteres Stück hinzufügen", f %>
  </div>
<% end %>
