<%= render 'shared/error_messages', :object => f.object %>

<%= field_set_tag @contest.name do %>

  <%= f.input :contest_category_id, collection: @contest.contest_categories, prompt: "Bitte wählen", input_html: { class: "span3" } %>

  <% if include_stage_fields %>
    <%= f.input :stage_time, as: :datetime, input_html: { class: "span1" },
      use_short_month: true, start_year: @contest.begins.year, end_year: @contest.ends.year,
      prompt: { day: "Tag", month: "Monat", year: "Jahr", hour: 'h', minute: 'min' } %>
    <%= f.association :stage_venue, collection: @contest.host.venues, include_blank: "(nicht gesetzt)" %>
  <% end %>

<% end %>

<%= field_set_tag "Wer nimmt an diesem Vorspiel teil…" do %>
  <div id="appearances">
    <%= f.fields_for :appearances do |appearance_form| %>
      <%= render 'appearance_fields', :f => appearance_form %>
    <% end %>
    <%= link_to_add_appearance "Weiteren Teilnehmer hinzufügen", f %>
  </div>
<% end %>
<%= field_set_tag "…und mit welchem Programm?" do %>
  <div id="pieces">
    <%= f.fields_for :pieces do |piece_form| %>
      <%= render 'piece_fields', :f => piece_form %>
    <% end %>
    <%= link_to_add_piece "Weiteres Stück hinzufügen", f %>
  </div>
<% end %>
