<% provide(:title, "Anmeldung zum #{current_contest_title}") %>

<p class="alert alert-error">F端r den <strong>Landeswettbewerb in Moskau</strong> braucht <strong>keine</strong> erneute Anmeldung ausgef端llt werden! Alle weitergeleiteten Teilnehmer erhalten Ende Januar eine E-Mail mit weiteren Informationen.</p>

<p>Hier kannst du dein Vorspiel f端r den <strong>Regionalwettbewerb</strong> <%= JUMU_YEAR %> anmelden. Bei Fragen oder Problemen erreichst du uns am einfachsten 端ber das <%= link_to "Kontaktformular", contact_path %>.</p>

<%= render 'noscript' %>

<%= simple_form_for(@performance, html: { class: "form-horizontal" }) do |form| %>
  <%= render 'performance_fields', { f: form, show_hints: true } %>
  <div class="form-actions">
    <%= form.button :submit, "Anmeldung absenden", class: "btn-primary" %>
  </div>
<% end %>
