<h2>Anmeldung zum <%= current_contest_title %></h2>

<p>Hier kannst du dein Vorspiel für den Wettbewerb <%= JUMU_YEAR %> anmelden. <strong>Anmeldeschluss ist der 15. November.</strong> Bei Fragen oder Problemen erreichst du uns am einfachsten über das <%= link_to "Kontaktformular", contact_path %>.</p>

<p><span class="label label-important">Wichtig</span> Pro Vorspiel braucht nur eine Anmeldung ausgefüllt werden, auf der alle daran beteiligten Teilnehmer eingetragen werden. Bei der Anmeldung bekommt jeder Teilnehmer per E-Mail einen Änderungscode &ndash; achte also bitte darauf, dass <strong>alle E-Mailadressen stimmen!</strong></p>

<%= render 'noscript' %>

<%= simple_form_for(@performance, html: { class: "form-horizontal" }) do |form| %>
  <%= render 'performance_fields', :f => form %>
  <div class="form-actions">
    <%= form.button :submit, "Anmeldung absenden", class: "btn-primary" %>
  </div>
<% end %>
