<% provide(:title, "Anmeldung zum #{current_contest_title}") %>

<p class="alert alert-info">Für den <strong>Landeswettbewerb</strong> braucht übrigens keine erneute Anmeldung ausgefüllt werden. Alle weitergeleiteten Teilnehmer erhalten rechtzeitig eine E-Mail mit weiteren Informationen.</p>

<p>Hier kannst du dein Vorspiel für den <strong>Regionalwettbewerb</strong> <%= JUMU_YEAR %> anmelden. Bei Fragen oder Problemen erreichst du uns am einfachsten über das <%= link_to "Kontaktformular", contact_path %>.</p>

<%= render 'noscript' %>

<%= simple_form_for(@performance, html: { class: "form-horizontal" }) do |form| %>
  <%= render 'performance_fields', { f: form, show_hints: true } %>
  <div class="form-actions">
    <%= form.button :submit, "Anmeldung absenden", class: "btn-primary" %>
  </div>
<% end %>
