<% provide(:title, "Anmeldung zum #{current_contest_title}") %>

<p>Hier kannst du dein Vorspiel für den Wettbewerb <%= JUMU_YEAR %> anmelden. Bei Fragen oder Problemen erreichst du uns am einfachsten über das <%= link_to "Kontaktformular", contact_path %>.</p>

<h4>Anmeldeschluss</h4>

<p>
  <strong>15. November</strong>: DS Kopenhagen, DS Oslo, DS Paris
  <br />
  <strong>26. November</strong>: DS Budapest
  <br />
  <strong>1. Dezember</strong>: DS Sofia, DS Stockholm
  <br />
  <strong>15. Dezember</strong>: DS Dublin, DS Helsinki, DS Moskau, DS Warschau
  <br />
  <strong>19. Dezember</strong>: DS Bratislava
</p>

<p><span class="label label-important">Wichtig</span> Pro Vorspiel braucht nur eine Anmeldung ausgefüllt werden, auf der alle daran beteiligten Teilnehmer eingetragen werden. Bei der Anmeldung bekommt jeder Teilnehmer per E-Mail einen Änderungscode &ndash; achte also bitte darauf, dass <strong>alle E-Mailadressen stimmen!</strong></p>

<%= render 'noscript' %>

<%= simple_form_for(@performance, html: { class: "form-horizontal" }) do |form| %>
  <%= render 'performance_fields', { f: form, show_hints: true } %>
  <div class="form-actions">
    <%= form.button :submit, "Anmeldung absenden", class: "btn-primary" %>
  </div>
<% end %>
