<% provide(:title, "Anmeldeformular #{@contest.host_name}") %>

<p>Bei Fragen oder Problemen liest du dir am besten zunächst die <%= link_to "Fragen & Antworten", faq_path %> durch. Falls dir das nicht weiter hilft, kannst du uns <%= link_to "eine Nachricht schreiben", contact_path %>.</p>

<%= render 'noscript' %>

<%= simple_form_for([@contest, @performance], html: { class: "form-horizontal" }) do |form| %>
  <%= render 'performance_fields', { f: form, include_stage_fields: false } %>
  <div class="form-actions">
    <%= form.button :submit, "Anmeldung absenden", class: "btn-primary" %>
  </div>
<% end %>
