<ul class="nav">
  <li><%= nav_link_to "Startseite", root_path %></li>
  <li><%= nav_link_to "Wettbewerb", competition_path %></li>
  <li><%= nav_link_to "Regeln", rules_path %></li>
  <li><%= nav_link_to "Organisation", organisation_path %></li>
  <li><%= nav_link_to "Kontakt", contact_path %></li>
</ul>
<ul class="nav pull-right">
  <% if signed_in? %>
    <li><a href="#"><%= current_user.full_name %></a></li>
    <li class="divider-vertical"></li>
    <li><%= link_to "Abmelden", signout_path, method: :delete %></li>
  <% else %>
    <li class="dropdown">
      <a class="dropdown-toggle" href="#" data-toggle="dropdown">Interne Seiten <strong class="caret"></strong></a>
      <div class="dropdown-menu" id="signin-menu">
        <%= simple_form_for :session, url: sessions_path do |f| %>
          <%= f.input :email %>
          <%= f.input :password %>
          <%= f.button :submit, "Anmelden", class: "btn-primary" %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
