<ul class="nav nav-list">

  <% if admin? %>

    <li class="nav-header">Admin</li>
    <%= nav_link_to icon_tag("user") + " Benutzer", jmd_users_path if can? :manage, User %>
    <%= nav_link_to icon_tag("list") + " Kategorien", jmd_categories_path if can? :manage, Category %>
    <%= nav_link_to icon_tag("globe") + " Wettbewerbe", jmd_contests_path if can? :manage, Contest %>
    <%= nav_link_to icon_tag("flag") + " Schulen", jmd_hosts_path if can? :manage, Host %>
    <%= nav_link_to icon_tag("align-left") + " Statistik", jmd_statistics_path if can? :read, :statistics? %>

  <% elsif JUMU_ROUND > 1 and can? :list_current, Performance %>

    <li class="nav-header">Einsehen</li>
    <%= nav_link_to icon_tag("time") + " Aktuelle Vorspiele", list_current_jmd_performances_path %>

  <% end %>

  <% current_contests = Contest.current.accessible_by(current_ability)
    if current_contests.any? %>
      <li class="nav-header">Aktuelle Wettbewerbe</li>
      <% current_contests.each do |contest| %>
      <%= nav_link_to contest.name, jmd_contest_path(contest) %>
     <% end %>
  <% end %>
</ul>
