<ul class="nav nav-list">

  <% if can? :manage, Performance %>

    <li class="nav-header">Verwalten</li>
    <%= nav_link_to "Benutzer", jmd_users_path if can? :manage, User %>
    <%= nav_link_to "Wettbewerbe", jmd_competitions_path if can? :manage, Competition %>
    <%= nav_link_to "Vorspiele", jmd_performances_path %>
    <%= nav_link_to "Ergebnisse", jmd_appearances_path %>

  <% elsif can? :read, Performance %>

    <li class="nav-header">Einsehen</li>
    <%= nav_link_to "Vorspiele", jmd_performances_path %>

  <% end %>
</ul>
