<ul class="nav nav-list">
  <li class="nav-header">Verwalten</li>
  <%= nav_link_to "Benutzer", jmd_users_path if can? :manage, User %>
  <%= nav_link_to "Wettbewerbe", jmd_competitions_path if can? :manage, Competition %>
  <% if can? :manage, Performance %>
    <%= nav_link_to "Vorspiele", jmd_performances_path %>
    <%= nav_link_to "Ergebnisse", jmd_appearances_path %>
    <li class="nav-header">Ausgeben</li>
    <%= nav_link_to "Jurybögen", make_jury_sheets_jmd_performances_path %>
    <%= nav_link_to "Urkunden", make_certificates_jmd_performances_path %>
    <li class="nav-header">Migrieren</li>
    <%= nav_link_to "Weiterleitungen", list_advancing_jmd_performances_path %>
  <% end %>
</ul>
