<span><%= link_to_unless_current "Startseite", root_path %></span>
<span><%= link_to_unless_current "Wettbewerb", competition_path %></span>
<span><%= link_to_unless_current "Regeln", rules_path %></span>
<span><%= link_to_unless_current "Organisation", organisation_path %></span>
<span><%= link_to_unless_current "Kontakt", contact_path %></span>