<ul class="nav nav-list">
  <li class="nav-header">Aktuell</li>

  <% if JUMU_ROUND == 2 && JUMU_TIMETABLES_PUBLIC %>
    <% lw_competition = Competition.seasonal_with_level(JUMU_ROUND).first %>
    <% date = lw_competition.begins %>
    <% lw_competition.venues.each do |venue| %>
      <%= nav_link_to "Vorspielplan #{venue.name}", lw_schedule_path(venue: venue.id, year: date.year, month: date.month, day: date.day) %>
    <% end %>
  <% end %>

  <%= nav_link_to "Teilnahmeregeln", rules_path %>
  <%= nav_link_to "Anmeldeformular", new_performance_path if JUMU_SIGNUP_OPEN && JUMU_ROUND == 1 %>
  <%= nav_link_to "Anmeldung bearbeiten", signup_search_path if JUMU_SIGNUP_OPEN %>

  <li class="nav-header">Links</li>
  <li><%= link_to "\"Jugend musiziert\" beim Deutschen Musikrat", "http://www.jugend-musiziert.org", title: "Offizielle JuMu-Seiten des Deutschen Musikrates mit vielen Informationen, besonders zum Bundeswettbewerb. Unter \"Werkzeuge\" gibt es u.a. eine Excel-Datei, mit der Altersgruppen berechnet werden können." %></li>
</ul>
