<ul class="nav nav-list">
  <li class="nav-header">Aktuell</li>

  <% if JUMU_ROUND == 2 && JUMU_RESULTS_AVAILABLE %>
    <%= nav_link_to icon_tag("file") + " Ergebnislisten Klassik", asset_path("LW#{JUMU_YEAR}_Ergebnisse_Klassik.pdf") %>
    <%= nav_link_to icon_tag("file") + " Ergebnislisten Pop", asset_path("LW#{JUMU_YEAR}_Ergebnisse_Pop.pdf") %>
  <% end %>

  <%= nav_link_to "Teilnahmeregeln", rules_path %>

  <% if JUMU_SIGNUP_OPEN %>
    <%= nav_link_to "Anmeldeformulare", signup_path if JUMU_ROUND == 1 %>
    <%= nav_link_to "Anmeldung bearbeiten", signup_search_path%>
  <% end %>

  <% if JUMU_TIMETABLES_VISIBLE %>
    <% timetabled_contests = Contest.current.with_timetables_public(true) %>

    <% if timetabled_contests.size > 0 %>
      <li class="nav-header">Vorspielpläne</li>

      <% timetabled_contests.each do |contest| %>
        <%= nav_link_to contest.name, performances_contest_path(contest,
          { venue_id: contest.used_venues.first, date: contest.begins.to_s }
        ) %>
      <% end %>
    <% end %>
  <% end %>

  <li class="nav-header">Links</li>
  <li><%= link_to "\"Jugend musiziert\" beim Deutschen Musikrat", "http://www.jugend-musiziert.org", title: "Offizielle Jumu-Seiten des Deutschen Musikrates mit vielen Informationen, besonders zum Bundeswettbewerb. Unter \"Werkzeuge\" gibt es u.a. eine Excel-Datei, mit der Altersgruppen berechnet werden können." %></li>
</ul>
