<ul class="nav nav-list">
  <li class="nav-header">Aktuell</li>
  <%= nav_link_to "LW Moskau 2013", lw_path %>
  <%= nav_link_to "Anmeldung bearbeiten", signup_search_path %>
  <%= nav_link_to "Teilnahmeregeln", rules_path %>
  <li><%= link_to icon_tag(:file) + "Ausschreibung 2013", asset_path('ausschreibung_2013.pdf') %></li>

  <li class="nav-header">Links</li>
  <li><%= link_to "\"Jugend musiziert\" beim Deutschen Musikrat", "http://www.jugend-musiziert.org", title: "Offizielle JuMu-Seiten des Deutschen Musikrates mit vielen Informationen, besonders zum Bundeswettbewerb. Unter \"Werkzeuge\" gibt es u.a. eine Excel-Datei, mit der Altersgruppen berechnet werden können." %></li>
</ul>
