<div class="box">
  <p>
    <strong>Anmeldung zum Bundeswettbewerb</strong>
    <%= link_to "Anmeldeformulare", "http://www.jugend-musiziert.org/bundeswettbewerb.html" %>
  </p>
</div>

<div class="box">
  <p>
    <strong>Ergebnisse des LW 2012 in London</strong>
    <br /><%= link_to "als PDF ansehen", asset_path('ergebnisse_lw2012.pdf') %>
  </p>
</div>

<% if JUMU_SIGNUP_OPEN %>
  <div class="box">
    Zur <%= link_to "Anmeldung", new_entry_path %> für den
    <strong><%= Round.find_by_level(JUMU_ROUND).slug %> <%= JUMU_YEAR %></strong>
  </div>
<% end %>

<% if JUMU_ROUND == 2 && JUMU_TIMETABLES_PUBLIC %>
  <div class="box">
    <p><strong>Wertungspläne</strong></p>
    <% Competition.current.first.days.each do |day| %>
    <p>
      <%= l day, format: :yearless %><br />
      <% Competition.current.first.host.venues.each do |venue| %>
        <%= link_to venue.name_with_usage, timetable_path(
            venue_id: venue, year: day.year, month: day.month, day: day.mday) %>
        <br />
      <% end %>
    </p>
    <% end %>
  </div>
<% end %>
&nbsp;