<!DOCTYPE html>
<html>
<head>
  <title>JuMu Nordost</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">JuMu Nordost</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Startseite", root_path %></li>
            <li><%= link_to "Wettbewerb", competition_path %></li>
            <li><%= link_to "Regeln", rules_path %></li>
            <li><%= link_to "Organisation", organisation_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <%= render 'layouts/sidebar' %>
      </div>
      <div class="span9">
        <%= yield %>
      </div>
    </div>
    <hr />
    <footer>
      <p>handmade by martin with ruby on rails and twitter bootstrap</p>
    </footer>
  </div>
</body>
</html>
