<!DOCTYPE html>
<html>
<head>
  <title>JuMu Nordost</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="icon" type="image/x-icon" sizes="16x16" href="/favicon.ico" />
  <link rel="icon" type="image/x-icon" sizes="32x32" href="/favicon_32x32.ico" />

  <%= render 'analytics' %>
</head>
<body>
  <header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">
          <%= image_tag "jumuball_header.png", id: "header-logo" %> JuMu Nordost
        </a>
        <div class="nav-collapse">
          <%= render 'layouts/header' %>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="span3">
        <div class="well sidebar-nav">
          <%= render 'layouts/public_sidebar' %>
        </div>
        <div class="well sidebar-nav">
          <%= render 'layouts/inside_sidebar' %>
        </div>
      </div>
      <div class="span9">
        <%= render 'layouts/flash_messages' %>
        <%= yield %>
      </div>
    </div>
    <hr />
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </div>
</body>
</html>
